<div class="comment">
  <div class="comment-content">
    <p class="comment-body"> <%= comment.body %></p>
    <p class="comment-user">
      -<%=  link_to comment.user.username.capitalize, user_path(comment.user) %>
    </p>
    <p class="comment-time"> <%= time_ago_in_words(comment.created_at) %> ago</p>
  </div>
</div>


