<div class="all-games">

    <% @games.each do |game| %>
    <img class='thumbnail' src="<%= game.photo %>">
    <%= link_to game.title, game_path(game.id) %><br>

    <p class="game-desc"><%= clean_html(game.description).truncate_words(80, omission: '... ') %></p>
    <% end %>
</div>


<%= will_paginate @games %>
