<div class="all-games">

    <% @games.each do |game| %>
    <div>
      <img class='thumbnail' src="<%= game.photo %>"><br>
      <p><%= link_to game.title, game_path(game.id) %></p>
      <span class="more">
      <%= clean_html(game.description) %>
      </span>
      <br>
      <% end %>
    </div>
</div>

