<div class="all-games">

    <% @games.each do |game| %>
    <img class='thumbnail' src="<%= game.photo %>">
    <%= link_to game.title, game_path(game.id) %><br>
    <%= game.description %><br>
    <% end %>
</div>

