/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .contained {
  margin: auto;
  padding: 10px;
  width: content;
  height: content;
  text-align: center;
 }

.favorites_list ul {
  font-size: 1.6em;
}

.index_photo {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  /*position: relative;*/
  float: left;
  margin: 15px;
}

ul.no-bullets {
  list-style-type: none;

}

body {
 
  margin: auto;
  background-color: #4dd0e1;
}

.ind_game {
  border: #42a5f5 6px solid ;
  margin: 20px auto;
  padding: 20px;
  height: content;
  min-height: 350px;
  border-radius: 15px;
  width: 80%;
  position: static;
  font-size: 1.2em;
  font-family: arial;

}

.ind_game h2 {
  color: red;
}

.text-desc {
    position: relative;
}

.footer-copyright {
  display: none;
}

.amazon {
  color:  #ff9900;
  text-decoration: none;
}

#left {
  left: 20px;
  position: absolute;
}

#friend-request {
  font-family: brokenarrow;
  font-size: 2em;
}

/*.dropdown-button {
  position: relative;
  top: 20px;
}*/