/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
 .contained {
  margin: auto;
  padding: 10px;
  width: content;
  height: content;
  text-align: center;
 }

.favorites_list ul {
  font-size: 1.6em;
}

.index_photo {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  /*position: relative;*/
  float: left;
  margin: 15px;
}

ul.no-bullets {
  list-style-type: none;

}

body {

  margin: auto;
  background-color: #e6faff;
}

.ind_game {
  border: #42a5f5 6px solid ;
  margin: 20px auto;
  padding: 20px;
  height: content;
  min-height: 350px;
  border-radius: 15px;
  width: 80%;
  position: static;
  font-size: 1.2em;
  font-family: arial;

}

.ind_game h2 {
  color: red;
}

.text-desc {
    position: relative;
}

.footer-copyright {
  display: none;
}

.amazon {
  color:  #ff9900;
  text-decoration: none;
}

#left {
  left: 20px;
  position: absolute;
}

#friend-request {
  font-family: brokenarrow;
  font-size: 2em;
}

/*.dropdown-button {
  position: relative;
  top: 20px;
}*/

@import "materialize";

 .container {
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  width: 600px;
  height: content;
  text-align: center;
 }

.favorites_list ul {
  font-size: 1.6em;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  vertical-align: center;
}

ul.no-bullets {
  list-style-type: none;
}

.show-fav {
  font-size: 2em;
  position: absolute;
  right: 50px;
  top: 80px;
  border-radius: 20px;
}

#show-photo {
  float: left;
  left: 20px;
  position: relative;
  padding: 20px;
  margin: 20px;
}

.ratings {
  position: relative;
  float: left;
  top: 150px;
  left: 150px;
}

#comment-text-area{
  width: 800px;
  color: black;
}

.comment-content {
  border: solid 1px black;
  width: 600px;
  height: 200px;
  margin: 10px auto;
  background-color: beige;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  clear: both;
}

.votes-location {
  float: left;
  position: relative;
  top: -40px;
}

.comment-user {
  margin: auto;
  top: 60px;
}

.comment-body-text {
  font-size: 2em;
  top: 40px;
  position: relative;
  text-align: center;
  right: 50px;
}

#comments {
  float: right;
  text-align: center;
}

.tag-links {
  margin: auto;
  padding: 20px;
  position: relative;
  right: 90px;
}

#register{
  width: 500px;
  margin: auto;
}

#user-container {
  background-color: #e6f5ff;
  border-radius: .5em;
  box-shadow: 0 0 0 .1em hsla(0,0%,0%,.1),
              0 .3em .25em hsla(0,0%,0%,.25),
              0 0 6em hsla(0,0%,100%,.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 4.5em 0;
  padding: 30px;
  text-align: left;
  vertical-align: top;
}
hr{
  border: 0;
  height: 1px;
  background: #f2f2f2;
  background-image: linear-gradient(to right, #f2f2f2, #666666, #f2f2f2)
}
