@import "materialize";
 .container {
  border: solid 3px black;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  width: 600px;
  height: content;
  text-align: center;
 }

.favorites_list ul {
  font-size: 1.6em;
}

.thumbnail {
  width: 80px;
  height: 80px;
}

ul.no-bullets {
  list-style-type: none;
}
