// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  border: solid 3px green;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  width: 600px;
  height: content;
  text-align: center
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}